/* Blog */
/* First child */
.rc-grid-blog .elementor-widget-container .dce-posts-container .dce-posts-wrapper article:first-child .dce-item_image a{
    position: absolute;
    width:  100%;
    height: 400px;
    top: 0;
}

.rc-grid-blog .elementor-widget-container .dce-posts-container .dce-posts-wrapper article:first-child .dce-content-area{
    bottom: -200px;
}

.rc-grid-blog .elementor-widget-container .dce-posts-container .dce-content-area {
    bottom: 0;
    top: inherit;
}

.rc-grid-blog .elementor-widget-container .dce-posts-container .dce-content-area .dce-post-terms .dce-term-item {
    background: #E7A639;
    padding: 6px;
    margin: 5px;
    border-radius: 2px;
    white-space: nowrap;
}

.rc-grid-blog .dce-terms-list .dce-separator {
    padding:
    0;
}