/* Temporal CSS */
body {
    margin: 0;
}

/* Page */
.rc-section > .elementor-container {
    margin-left: 0;
}

/* Plugin - wp autosearch */
#wizardinfosys_autosearch_form {
    height: 50px;
    position: relative;
}

#wizardinfosys_autosearch_form .wp_autosearch_input {
    background-color: #E3E7EB3D !important;
    border: 1px #B4BBC1 solid !important;
    border-radius: 32px !important;
    height: 100%;
    width: 100%;
    font-family: Open Sans;
    font-size: 14px;
    padding-left: 40px !important;
}

#wizardinfosys_autosearch_form i {
    position: absolute;
    padding: 20px;
} 

/* Cart */
.woocommerce-cart-form {
    float: left;
    width: 50%;
}

/* Plugin - Contact Form */
#wpcf7-f5-p16-o1 form .rc-content-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: calc( -30px/2 );
    margin-right: calc( -30px/2 );
}

#wpcf7-f5-p16-o1 form .rc-content-inputs label {
    width: calc(100% / 2);
    flex: 0 1 calc( 100% / 2 );
    flex-grow: 1;
    padding-right: calc( 30px/2 );
    padding-left: calc( 30px/2 );
    margin-bottom: 30px;
}

#wpcf7-f5-p16-o1 form .rc-content-inputs label input {
    width: 100%;
    padding: 15px 30px 15px 55px;
    border-radius: 32px;
    border: 1px solid #B4BBC1;
    background: rgba(180, 187, 193, 0.07);
    box-sizing: border-box;
    line-height: 20px;
}

#wpcf7-f5-p16-o1 form .rc-content-inputs label input::placeholder {
    color: #A6A6A6;
}

/* Counter */
.elementor-counter {
    display: flex;
}

.elementor-counter .elementor-counter-number-wrapper {
    padding: 9px 0;
}

.elementor-counter .elementor-counter-title {
    line-height: inherit;
    margin-left: 25px;
    text-align: left;
}

/* Testimonial */
.elementor-testimonial__content {
    min-height: 140px;
}